body {
  background-color: white;
  margin: 0;
}

main {
  margin: 1rem;
}

header {
  background-color: red;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style-type: none;
  flex: 1;
  max-width: 120px;
  /* background-color: blue; */
  text-align: center;
  border-right: 1px solid white;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

li a img {
  width: 10px;
}

/* Target disabled links */
a[aria-disabled="true"] {
  background-color: rgba(255, 255, 255, 0.5); /* half transparent white */
  pointer-events: none;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  ul {
    justify-content: center;
    gap: 0;
  }

  li {
    flex: 0;
    min-width: 100px;
  }

  li:last-child {
    border-right: 1px solid white;
  }

  li:first-child {
    border-left: 1px solid white;
  }
}
