:root {
    --light-blue: #add8e6;
    --blue: #007da7;
    --dark-blue: #023b4e;
    --white: #ffffff;
    --black: #000000;
    --red: #e20e0e;
    --half-transparent-white: rgba(255, 255, 255, 0.5);
}

@font-face {
    font-family: "onest";
    src: url("/src/fonts/onest/Onest-Medium.ttf");
    font-weight: 400;
    font-style: normal;
}

body,
html {
    font-family: Onest, Arial, Helvetica, sans-serif;
    background-color: var(--light-blue);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

canvas {
    display: block;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin-bottom: 30px;
}

section a {
    text-align: center;
}

section p {
    margin: 10px 0 0 0;
}

section form {
    display: flex;
    flex-direction: column;
}

/* Boutons */
section form input,
section form button,
.custom-ar-button,
.button-link {
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 5px;
    color: var(--black);
    text-decoration: none;
    min-height: 20px;
    align-self: center;
}

section form input,
section form button {
    margin-top: 15px;
    width: 100%;
}

section form button,
.custom-ar-button {
    padding: 10px;
    font-size: 15px;
    font-family: "Onest";
    width: fit-content !important;
    cursor: pointer;
}

.button-link {
    margin-top: 20px;
    padding: 10px;
    max-width: fit-content;
    cursor: pointer;
}

.custom-ar-button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    z-index: 999;
    opacity: 1 !important;
    left: 0 !important;
}

.custom-ar-button.disabled {
    background-color: var(--half-transparent-white);
    color: var(--black);
    cursor: not-allowed;
    pointer-events: none;
}

section form button:hover,
section form button:active,
.custom-ar-button:hover,
.custom-ar-button:active,
.button-link:hover,
.button-link:active {
    background-color: var(--dark-blue);
    color: var(--white);
}

/* Liens du header */
ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    list-style-type: none;
    flex: 1;
    max-width: 120px;
    text-align: center;
    border-right: 1px solid var(--white);
}

ul li:last-child {
    border-right: none;
}

li a {
    display: block;
    padding: 1rem;
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

li a:hover,
li a:active {
    background-color: var(--blue);
}

/* Liens désactivés */
a[aria-disabled="true"] {
    background-color: var(--half-transparent-white);
    pointer-events: none;
    cursor: not-allowed;
}

li a img {
    width: 15px;
    height: 15px;
}

hr {
    width: 100%;
    border: 1px solid var(--black);
    margin: 20px 0;
}

header {
    background-color: var(--dark-blue);
}

#error-message {
    color: var(--red);
}

/* Responsive */
@media (min-width: 600px) {
    ul {
        justify-content: center;
        gap: 0;
    }

    ul li {
        flex: 0;
        min-width: 100px;
    }

    ul li:last-child {
        border-right: 1px solid var(--white);
    }

    ul li:first-child {
        border-left: 1px solid var(--white);
    }
}
